

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
	font-family: 'Sora';
	src: url("../fonts/sora/Sora-Medium.ttf");
	font-weight: 100;
}

body {
	background-color: #fff !important;
	color: rgb(255, 255, 255) !important;
	font-family: 'Sora', 'sans-serif' !important;
	overflow-x: hidden;
	height: 2500vh;
}
nav {
	z-index: 999
}
#img_programmer {
	position: absolute;
	width: 100vw;
	top: 55%;
	z-index: -1;
	left: 80%;
	transform: translateX(-50%) translateY(-50%);
	transition-duration: .5s
}
#bg-filler {
	position: absolute;
	width: 100vw;
	left: 0;
	height: 300px;
	top: 52%;
	transform: translateY(-50%);
	background: #fff;
	z-index: -3
}
#bg-square {
	position: absolute;
	width: 100vw;
	height: 450px;
	top: -100px;
	z-index: -2;
	background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
	transform: skew(0deg, -16deg)
}
#bg-square2 {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 500px;
	z-index: -1;
	top: 10%;
	right: 0;
	left: 55vw;
	background: linear-gradient(#30f, #2671c8 30%);
	transform: rotate(-26deg)
}
#heading-powerWebsite {
	font-size: 1.7em;
	line-height: 1.8;
	text-align: left;
	-webkit-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s
}
#para-powerWebsite {
	font-size: 1em;
	font-weight: 100;
	color: #e6e6e6;
	text-shadow: 1px 1px 5px #000
}
#img_animatedArrow {
	position: relative;
	top: -50px
}
.content {
	padding-top: 120px
}
#bg-arrow {
	position: absolute;
	bottom: 3px;
	z-index: -1;
	width: 100vw;
	height: 35%;
	clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
	background: #08042c
}
#bg-arrow h2 {
	position: relative;
	color: #fff;
	top: 55%;
	transform: translateY(-50%);
	font-size: 1.3em;
	line-height: 1.5;
	text-align: center;
	color: #fff
}
#bg-arrow img {
	-webkit-filter: invert(1);
	filter: invert(1);
	position: relative;
	-webkit-animation: arrowDownAnim 2s linear;
	animation: arrowDownAnim 2s linear;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 12vw;
	top: 115px;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}
#page-landing {
	width: 100vw;
	height: 100vh;
	position: fixed;
	box-sizing: border-box;
	z-index: 10;
}
#page-goOnline {
	top: 50px;
	z-index: 9;
	position: fixed;
	width: 100vw;
	box-sizing: border-box;
}
#page-expectMore {
	position: fixed;
	width: 100vw;
	box-sizing: border-box;
	background: #0f489e;
	clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
	padding-top: 100px;
	padding-bottom: 100px;
	z-index: 10;
	
}
#page-showcase {
	position: fixed;
	z-index: 5;
	top: 10px;
	box-sizing: border-box;
	width: 100vw;
}
#page-contactUs {
	width: 100vw;
	z-index: 7;
	position: fixed;
	background: #2a1f92;
	clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
	min-height: 100vh;
	padding-top: 15%;
}
.showcaseCard {
	color: #000;
	position: relative;
	min-width: 300px;
	width: 100%;
	left: 0;
	min-height: 383px;
	background: 0 0;
	border-radius: 12px;
	padding: 15px;
	margin-top: 25px
}
@keyframes arrowDownAnim {
	0% {
		top: 115px
	}
	50% {
		top: 125px
	}
	100% {
		top: 115px
	}
}
#showcase_img1 {
	position: relative;
	width: 100vw;
	left: 0
}
.green-bar::after {
	content: "";
	display: block;
	width: 29px;
	height: 5px;
	position: relative;
	background: #5ef54c;
	margin-top: 30px;
	margin-bottom: 30px
}
.green-bar-center::after {
	content: "";
	display: block;
	width: 29px;
	height: 5px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	background: #5ef54c;
	margin-top: 30px;
	margin-bottom: 30px
}
.card {
	position: relative;
	width: 100%;
	max-width: 400px;
	min-height: 383px;
	background: #0c0363;
	border-radius: 12px;
	padding: 15px;
	margin-top: 25px;
	
	left:50%;
	transform:translateX(-50%);
}
.card .info {
	margin-top: 60%
}
.card .info p {
	font-size: 1em;
	transition-duration: .3s;
	text-align: left
}
#page-expectMore h1 {
	font-size: 2em;
	line-height: 1.5;
	transition-duration: .4s
}
#page-expectMore p {
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 50px
}
.featureBox {
	position: relative;
	display: block;
	margin-top: 10px;
	padding: 10px
}
.featureBox h3 {
	display: block;
	transition-duration: .4s
}
.featureBox .circle-icon {
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../img//iconBulb.png");
	background-size: contain;
	background-color: transparent
}
#contact_mail {
	float: left
}
#contact_detail {
	position: relative;
	padding: 1px;
	display: block
}
#contact_phone {
	float: right
}
footer img {
	width: 100%
}
form {
	padding-top: 50px;
	position: relative;
	max-width: 95%
}

.pricing-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;
	margin-top: -12px;
	color:black;
  }
  .pricing-item {
	flex-basis: 280px;
	max-width: 280px;
	box-sizing: content-box;
	padding: 12px;
  }
  .pricing-item-inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100%;
	padding: 24px;
	box-shadow: 0 8px 16px rgba(28, 48, 165, 0.16);
  }
  .pricing-item-title {
	font-weight: 500;
	font-size: 1.5em;
  }
  .pricing-item-price {
	display: inline-flex;
	align-items: baseline;
	font-size: 20px;
  }
  .pricing-item-price-amount {
	font-size: 36px;
	line-height: 48px;
	font-weight: 500;
	color: #191e2a;
  }
  .pricing-item-features-list {
	list-style: none;
	padding: 0;
  }
  .pricing-item-features-list li {
	margin-bottom: 0;
	padding: 14px 0;
	position: relative;
	display: flex;
	align-items: center;
  }
  .pricing-item-features-list li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 1px;
	background: #e9ecf8;
  }
  .pricing-item-features-list li::after {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 12px;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%2011h14v2H5z%22%20fill%3D%22%239298B8%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	-webkit-box-ordinal-group: 0;
	order: -1;
  }
  .pricing-item-features-list li.is-checked::after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill-rule%3D%22nonzero%22%20fill%3D%22none%22%3E%3Ccircle%20fill%3D%22%2300C2A9%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M10.5%2012.267l-2.5-1.6-1%201.066L10.5%2016%2017%209.067%2016%208z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
/* landscape */
@media only screen and (min-width:320px) and (orientation:landscape)
{

	body {
		background-color: #fff !important;
		color: rgb(255, 255, 255) !important;
		font-family: 'Sora', 'sans-serif' !important;
		overflow-x: hidden;
		height: 2500vh;
	}
	nav {
		z-index: 999
	}
	#img_programmer {
		position: absolute;
		width: 50vw;
		top: 50%;
		z-index: -1;
		left: 85%;
		transform: translateX(-50%) translateY(-50%);
		transition-duration: .5s
	}
	#bg-filler {
		position: absolute;
		width: 100vw;
		left: 0;
		height: 300px;
		top: 52%;
		transform: translateY(-50%);
		background: #fff;
		z-index: -3
	}
	#bg-square {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top:-42%;
		z-index: -2;
		background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
		transform: skew(0deg, -16deg)
	}
	#bg-square2 {
		position: absolute;
		top: 0;
		width: 90vw;
		height: 100vh;
		z-index: -1;
		top: -40%;
		right: 0;
		left: 55vw;
		background: linear-gradient(#30f, #2671c8 30%);
		transform: rotate(-26deg)
	}
	#heading-powerWebsite {
		font-size: 1.7em;
		line-height: 1.8;
		text-align: left;
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s
	}
	#para-powerWebsite {
		font-size: 1em;
		font-weight: 100;
		color: #e6e6e6;
		text-shadow: 1px 1px 5px #000
	}
	#img_animatedArrow {
		position: relative;
		top: -50px
	}
	.content {
		padding-top: 50px
	}
	#bg-arrow {
		position: absolute;
		bottom: 3px;
		z-index: -1;
		width: 100vw;
		height: 35%;
		clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
		background: #08042c
	}
	#bg-arrow h2 {
		position: relative;
		color: #fff;
		top: 55%;
		transform: translateY(-50%);
		font-size: 1.3em;
		line-height: 1.5;
		text-align: center;
		color: #fff
	}
	#bg-arrow img {
		-webkit-filter: invert(1);
		filter: invert(1);
		position: relative;
		-webkit-animation: arrowDownAnim 2s linear;
		animation: arrowDownAnim 2s linear;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 12vw;
		top: 115px;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	#page-landing {
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-sizing: border-box;
		z-index: 10;
	}
	#page-goOnline {
		top: 50px;
		z-index: 9;
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
	}
	#page-expectMore {
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
		background: #0f489e;
		clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 10;
		
	}
	#page-showcase {
		position: fixed;
		z-index: 5;
		box-sizing: border-box;
		width: 100vw;
	}
	#page-contactUs {
		width: 100vw;
		z-index: 7;
		position: fixed;
		background: #2a1f92;
		clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
		min-height: 100vh;
		padding-top: 15%;
	}
	.showcaseCard {
		color: #000;
		position: relative;
		min-width: 100px;
		width: 90%;
		left: 0;
		min-height: 183px;
		background: 0 0;
	}
	@keyframes arrowDownAnim {
		0% {
			top: 115px
		}
		50% {
			top: 125px
		}
		100% {
			top: 115px
		}
	}
	#showcase_img1 {
		position: relative;
		width: 100vw;
		left: 0
	}
	.green-bar::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		position: relative;
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.green-bar-center::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.card {
		position: relative;
		width: 100%;
		max-width: 250px;
		min-height: 150px;
		background: #0c0363;
		border-radius: 12px;
		left:50%;
		transform:translateX(-50%);
		padding: 15px;
	}
	.card h2{
		font-size: 1em;
	}
	.card .info {
		margin-top:10%;
	}
	.card .info p {
		font-size: 0.8em;
		transition-duration: .3s;
		text-align: left
	}
	#page-expectMore h1 {
		font-size: 2em;
		line-height: 1.5;
		transition-duration: .4s
	}
	#page-expectMore p {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 50px
	}
	.featureBox {
		position: relative;
		display: block;
		margin-top: 10px;
		padding: 10px
	}
	.featureBox h3 {
		display: block;
		transition-duration: .4s
	}
	.featureBox .circle-icon {
		display: block;
		width: 80px;
		height: 80px;
		background-image: url("../img//iconBulb.png");
		background-size: contain;
		background-color: transparent
	}
	#contact_mail {
		float: left
	}
	#contact_detail {
		position: relative;
		padding: 1px;
		display: block
	}
	#contact_phone {
		float: right
	}
	footer img {
		width: 100%
	}
	form {
		padding-top: 50px;
		position: relative;
		max-width: 95%
	}
}

/* tablet (landscape) */
@media only screen and (min-width:765px)
{

	body {
		background-color: #fff !important;
		color: rgb(255, 255, 255) !important;
		font-family: 'Sora', 'sans-serif' !important;
		overflow-x: hidden;
		height: 2500vh;
	}
	nav {
		z-index: 999
	}
	#img_programmer {
		position: absolute;
		width: 100vw;
		top: 55%;
		z-index: -1;
		left: 80%;
		transform: translateX(-50%) translateY(-50%);
		transition-duration: .5s
	}
	#bg-filler {
		position: absolute;
		width: 100vw;
		left: 0;
		height: 300px;
		top: 52%;
		transform: translateY(-50%);
		background: #fff;
		z-index: -3
	}
	#bg-square {
		position: absolute;
		width: 100vw;
		height: 70vh;
		top: -200px;
		z-index: -2;
		background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
		transform: skew(0deg, -16deg)
	}
	#bg-square2 {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 500px;
		z-index: -1;
		top: 10%;
		right: 0;
		left: 55vw;
		background: linear-gradient(#30f, #2671c8 30%);
		transform: rotate(-26deg)
	}
	#heading-powerWebsite {
		font-size: 1.7em;
		line-height: 1.8;
		text-align: left;
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s
	}
	#para-powerWebsite {
		font-size: 1em;
		font-weight: 100;
		color: #e6e6e6;
		text-shadow: 1px 1px 5px #000
	}
	#img_animatedArrow {
		position: relative;
		top: -50px
	}
	.content {
		padding-top: 120px
	}
	#bg-arrow {
		position: absolute;
		bottom: 3px;
		z-index: -1;
		width: 100vw;
		height: 35%;
		clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
		background: #08042c
	}
	#bg-arrow h2 {
		position: relative;
		color: #fff;
		top: 55%;
		transform: translateY(-50%);
		font-size: 1.3em;
		line-height: 1.5;
		text-align: center;
		color: #fff
	}
	#bg-arrow img {
		-webkit-filter: invert(1);
		filter: invert(1);
		position: relative;
		-webkit-animation: arrowDownAnim 2s linear;
		animation: arrowDownAnim 2s linear;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 12vw;
		top: 115px;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	#page-landing {
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-sizing: border-box;
		z-index: 10;
	}
	#page-goOnline {
		top: 50px;
		z-index: 9;
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
	}
	#page-expectMore {
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
		background: #0f489e;
		clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 10;
		
	}
	#page-showcase {
		position: fixed;
		z-index: 5;
		top: 10px;
		box-sizing: border-box;
		width: 100vw;
	}
	#page-contactUs {
		width: 100vw;
		z-index: 7;
		position: fixed;
		background: #2a1f92;
		clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
		min-height: 100vh;
		padding-top: 15%;
	}
	.showcaseCard {
		color: #000;
		position: relative;
		min-width: 300px;
		width: 100%;
		left: 0;
		min-height: 383px;
		background: 0 0;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	@keyframes arrowDownAnim {
		0% {
			top: 115px
		}
		50% {
			top: 125px
		}
		100% {
			top: 115px
		}
	}
	#showcase_img1 {
		position: relative;
		width: 100vw;
		left: 0
	}
	.green-bar::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		position: relative;
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.green-bar-center::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.card {
		position: relative;
		width: 100%;
		max-width: 400px;
		min-height: 383px;
		background: #0c0363;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	.card .info {
		margin-top: 60%
	}
	.card .info p {
		font-size: 1em;
		transition-duration: .3s;
		text-align: left
	}
	#page-expectMore h1 {
		font-size: 2em;
		line-height: 1.5;
		transition-duration: .4s
	}
	#page-expectMore p {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 50px
	}
	.featureBox {
		position: relative;
		display: block;
		margin-top: 10px;
		padding: 10px
	}
	.featureBox h3 {
		display: block;
		transition-duration: .4s
	}
	.featureBox .circle-icon {
		display: block;
		width: 80px;
		height: 80px;
		background-image: url("../img//iconBulb.png");
		background-size: contain;
		background-color: transparent
	}
	#contact_mail {
		float: left
	}
	#contact_detail {
		position: relative;
		padding: 1px;
		display: block
	}
	#contact_phone {
		float: right
	}
	footer img {
		width: 100%
	}
	form {
		padding-top: 50px;
		position: relative;
		max-width: 95%
	}
}

/* tablet (portrait) */
@media only screen and (min-width:765px) and (max-width:1024px) and (orientation:portrait) 
{

	body {
		background-color: #fff !important;
		color: rgb(255, 255, 255) !important;
		font-family: 'Sora', 'sans-serif' !important;
		overflow-x: hidden;
		height: 1500vh;
	}
	nav {
		z-index: 999
	}
	#img_programmer {
		position: absolute;
		width: 100vw;
		top: 55%;
		z-index: -1;
		left: 80%;
		transform: translateX(-50%) translateY(-50%);
		transition-duration: .5s
	}
	#bg-filler {
		position: absolute;
		width: 100vw;
		left: 0;
		height: 300px;
		top: 52%;
		transform: translateY(-50%);
		background: #fff;
		z-index: -3
	}
	#bg-square {
		position: absolute;
		width: 100vw;
		height: 980px;
		top: -50%;
		z-index: -2;
		background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
		transform: skew(0deg, -16deg)
	}
	#bg-square2 {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		top: -20%;
		right: 0;
		left: 55vw;
		background: linear-gradient(#30f, #2671c8 30%);
		transform: rotate(-26deg)
	}
	#heading-powerWebsite {
		font-size: 2.7em;
		line-height: 1.8;
		text-align: left;
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s
	}
	#para-powerWebsite {
		font-size: 1em;
		font-weight: 100;
		color: #e6e6e6;
		text-shadow: 1px 1px 5px #000
	}
	#img_animatedArrow {
		position: relative;
		top: -50px
	}
	.content {
		padding-top: 120px
	}
	#bg-arrow {
		position: absolute;
		bottom: 3px;
		z-index: -1;
		width: 100vw;
		height: 35%;
		clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
		background: #08042c
	}
	#bg-arrow h2 {
		position: relative;
		color: #fff;
		top: 55%;
		transform: translateY(-50%);
		font-size: 2em;
		line-height: 1.5;
		text-align: center;
		color: #fff
	}
	#bg-arrow img {
		-webkit-filter: invert(1);
		filter: invert(1);
		position: relative;
		animation: arrowDownAnim 2s linear;
		left: 50%;
		transform: translateX(-50%);
		width: 12vw;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	#page-landing {
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-sizing: border-box;
		z-index: 10;
	}
	#page-goOnline {
		top: 50px;
		z-index: 9;
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
	}
	#page-expectMore {
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
		background: #0f489e;
		clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 10;
		
	}
	#page-showcase {
		position: fixed;
		z-index: 5;
		top: 10px;
		box-sizing: border-box;
		width: 100vw;
	}
	#page-contactUs {
		width: 100vw;
		z-index: 7;
		position: fixed;
		background: #2a1f92;
		clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
		min-height: 100vh;
		padding-top: 15%;
	}
	.showcaseCard {
		color: #000;
		position: relative;
		min-width: 300px;
		width: 100%;
		left: 0;
		min-height: 383px;
		background: 0 0;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	@keyframes arrowDownAnim {
		0% {
			top: 115px
		}
		50% {
			top: 125px
		}
		100% {
			top: 115px
		}
	}
	#showcase_img1 {
		position: relative;
		width: 100vw;
		left: 0
	}
	.green-bar::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		position: relative;
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.green-bar-center::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.card {
		position: relative;
		width: 100%;
		max-width: 400px;
		min-height: 383px;
		background: #0c0363;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	.card .info {
		margin-top: 60%
	}
	.card .info p {
		font-size: 1em;
		transition-duration: .3s;
		text-align: left
	}
	#page-expectMore h1 {
		font-size: 2em;
		line-height: 1.5;
		transition-duration: .4s
	}
	#page-expectMore p {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 50px
	}
	.featureBox {
		position: relative;
		display: block;
		margin-top: 10px;
		padding: 10px
	}
	.featureBox h3 {
		display: block;
		transition-duration: .4s
	}
	.featureBox .circle-icon {
		display: block;
		width: 80px;
		height: 80px;
		background-image: url("../img//iconBulb.png");
		background-size: contain;
		background-color: transparent
	}
	#contact_mail {
		float: left
	}
	#contact_detail {
		position: relative;
		padding: 1px;
		display: block
	}
	#contact_phone {
		float: right
	}
	footer img {
		width: 100%
	}
	form {
		padding-top: 50px;
		position: relative;
		max-width: 95%
	}
}

@media only screen and (min-width:1000px) 
{

	body {
		background-color: #fff !important;
		color: rgb(255, 255, 255) !important;
		font-family: 'Sora', 'sans-serif' !important;
		overflow-x: hidden;
		height: 2500vh;
	}
	nav {
		z-index: 999
	}
	#img_programmer {
		position: absolute;
		width: 50vw;
		top: 48%;
		z-index: -1;
		left: 85%;
		transform: translateX(-50%) translateY(-50%);
		transition-duration: .5s
	}
	#bg-filler {
		position: absolute;
		width: 100vw;
		left: 0;
		height: 320px;
		top: 52%;
		transform: translateY(-50%);
		background: white;
		z-index: -3
	}
	#bg-square {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: -50%;
		z-index: -2;
		background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
		transform: skew(0deg, -16deg)
	}
	#bg-square2 {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		top: -45%;
		right: 0;
		left: 55vw;
		background: linear-gradient(#30f, #2671c8 30%);
		transform: rotate(-26deg)
	}
	#heading-powerWebsite {
		font-size: 3.7em;
		line-height: 1.8;
		text-align: left;
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s
	}
	#para-powerWebsite {
		font-size: 1.5em;
		font-weight: 100;
		color: #e6e6e6;
		text-shadow: 1px 1px 5px #000
	}
	#img_animatedArrow {
		position: relative;
		top: -50px;
		opacity: 0;
	}
	.content {
		padding-top: 120px
	}
	#bg-arrow {
		position: absolute;
		bottom: 3px;
		z-index: -1;
		width: 100vw;
		height: 35%;
		clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
		background: #08042c
	}
	#bg-arrow h2 {
		position: relative;
		color: #fff;
		top: 55%;
		transform: translateY(-50%);
		font-size: 2.3em;
		line-height: 1.5;
		text-align: center;
		color: #fff
	}
	#bg-arrow img {
		-webkit-filter: invert(1);
		filter: invert(1);
		position: relative;
		-webkit-animation: arrowDownAnim 2s linear;
		animation: arrowDownAnim 2s linear;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 12vw;
		top: 115px;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	#page-landing {
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-sizing: border-box;
		z-index: 10;
	}
	#page-goOnline {
		top: 50px;
		z-index: 9;
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
	}
	#page-expectMore {
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
		background: #0f489e;
		clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 10;
		
	}
	#page-showcase {
		position: fixed;
		z-index: 5;
		top: 10px;
		box-sizing: border-box;
		width: 100vw;
	}
	#page-contactUs {
		width: 100vw;
		z-index: 7;
		position: fixed;
		background: #2a1f92;
		clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
		min-height: 100vh;
		padding-top: 15%;
	}
	.showcaseCard {
		color: #000;
		position: relative;
		min-width: 300px;
		width: 100%;
		left: 0;
		min-height: 383px;
		background: 0 0;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	@keyframes arrowDownAnim {
		0% {
			top: 115px
		}
		50% {
			top: 125px
		}
		100% {
			top: 115px
		}
	}
	#showcase_img1 {
		position: relative;
		width: 100vw;
		left: 0
	}
	.green-bar::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		position: relative;
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.green-bar-center::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.card {
		position: relative;
		width: 100%;
		max-width: 400px;
		min-height: 383px;
		background: #0c0363;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	.card .info {
		margin-top: 60%
	}
	.card .info p {
		font-size: 1em;
		transition-duration: .3s;
		text-align: left
	}
	#page-expectMore h1 {
		font-size: 2em;
		line-height: 1.5;
		transition-duration: .4s
	}
	#page-expectMore p {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 50px
	}
	.featureBox {
		position: relative;
		display: block;
		margin-top: 10px;
		padding: 10px
	}
	.featureBox h3 {
		display: block;
		transition-duration: .4s
	}
	.featureBox .circle-icon {
		display: block;
		width: 80px;
		height: 80px;
		background-image: url("../img//iconBulb.png");
		background-size: contain;
		background-color: transparent
	}
	#contact_mail {
		float: left
	}
	#contact_detail {
		position: relative;
		padding: 1px;
		display: block
	}
	#contact_phone {
		float: right
	}
	footer img {
		width: 100%
	}
	form {
		padding-top: 50px;
		position: relative;
		max-width: 95%
	}
}

@media only screen and (min-width:1824px)
{

	body {
		background-color: #fff !important;
		color: rgb(255, 255, 255) !important;
		font-family: 'Sora', 'sans-serif' !important;
		overflow-x: hidden;
		height: 2500vh;
	}
	nav {
		z-index: 999
	}
	#img_programmer {
		position: absolute;
		width: 50vw;
		top: 48%;
		z-index: -1;
		left: 85%;
		transform: translateX(-50%) translateY(-50%);
		transition-duration: .5s
	}
	#bg-filler {
		position: absolute;
		width: 100vw;
		left: 0;
		height: 320px;
		top: 52%;
		transform: translateY(-50%);
		background: white;
		z-index: -3
	}
	#bg-square {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: -50%;
		z-index: -2;
		background: linear-gradient(180deg, #08042c 34.08%, #0b053e 60%, #1100a8 100%);
		transform: skew(0deg, -16deg)
	}
	#bg-square2 {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		top: -45%;
		right: 0;
		left: 55vw;
		background: linear-gradient(#30f, #2671c8 30%);
		transform: rotate(-26deg)
	}
	#heading-powerWebsite {
		font-size: 3.7em;
		line-height: 1.8;
		text-align: left;
		-webkit-transition-duration: .4s;
		-o-transition-duration: .4s;
		transition-duration: .4s
	}
	#para-powerWebsite {
		font-size: 1.5em;
		font-weight: 100;
		color: #e6e6e6;
		text-shadow: 1px 1px 5px #000
	}
	#img_animatedArrow {
		position: relative;
		top: -50px;
		opacity: 0;
	}
	.content {
		padding-top: 120px
	}
	#bg-arrow {
		position: absolute;
		bottom: 3px;
		z-index: -1;
		width: 100vw;
		height: 35%;
		clip-path: polygon(100% 25%, 100% 82%, 50% 100%, 0 82%, 0 0);
		background: #08042c
	}
	#bg-arrow h2 {
		position: relative;
		color: #fff;
		top: 55%;
		transform: translateY(-50%);
		font-size: 2.3em;
		line-height: 1.5;
		text-align: center;
		color: #fff
	}
	#bg-arrow img {
		-webkit-filter: invert(1);
		filter: invert(1);
		position: relative;
		-webkit-animation: arrowDownAnim 2s linear;
		animation: arrowDownAnim 2s linear;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 12vw;
		top: 115px;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite
	}
	#page-landing {
		width: 100vw;
		height: 100vh;
		position: fixed;
		box-sizing: border-box;
		z-index: 10;
	}
	#page-goOnline {
		top: 50px;
		z-index: 9;
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
	}
	#page-expectMore {
		position: fixed;
		width: 100vw;
		box-sizing: border-box;
		background: #0f489e;
		clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
		padding-top: 100px;
		padding-bottom: 100px;
		z-index: 10;
		
	}
	#page-showcase {
		position: fixed;
		z-index: 5;
		top: 10px;
		box-sizing: border-box;
		width: 100vw;
	}
	#page-contactUs {
		width: 100vw;
		z-index: 7;
		position: fixed;
		background: #2a1f92;
		clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
		min-height: 100vh;
		padding-top: 15%;
	}
	.showcaseCard {
		color: #000;
		position: relative;
		min-width: 300px;
		width: 100%;
		left: 0;
		min-height: 383px;
		background: 0 0;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px
	}
	@keyframes arrowDownAnim {
		0% {
			top: 115px
		}
		50% {
			top: 125px
		}
		100% {
			top: 115px
		}
	}
	#showcase_img1 {
		position: relative;
		width: 100vw;
		left: 0
	}
	.green-bar::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		position: relative;
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.green-bar-center::after {
		content: "";
		display: block;
		width: 29px;
		height: 5px;
		left: 50%;
		position: relative;
		transform: translateX(-50%);
		background: #5ef54c;
		margin-top: 30px;
		margin-bottom: 30px
	}
	.card {
		position: relative;
		width: 100%;
		max-width: 400px;
		min-height: 383px;
		background: #0c0363;
		border-radius: 12px;
		padding: 15px;
		margin-top: 25px;
		left:50%;
		transform: translate(-50%);
	}
	.card h2{
		font-size: 2em;
	}
	.card .info {
		margin-top: 60%
	}
	.card .info p {
		font-size: 1.2em;
		transition-duration: .3s;
		text-align: left
	}
	#page-expectMore h1 {
		font-size: 2em;
		line-height: 1.5;
		transition-duration: .4s
	}
	#page-expectMore p {
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 50px
	}
	.featureBox {
		position: relative;
		display: block;
		margin-top: 10px;
		padding: 10px
	}
	.featureBox h3 {
		display: block;
		transition-duration: .4s
	}
	.featureBox .circle-icon {
		display: block;
		width: 80px;
		height: 80px;
		background-image: url("../img//iconBulb.png");
		background-size: contain;
		background-color: transparent
	}
	#contact_mail {
		float: left
	}
	#contact_detail {
		position: relative;
		padding: 1px;
		display: block
	}
	#contact_phone {
		float: right
	}
	footer img {
		width: 100%
	}
	form {
		padding-top: 50px;
		position: relative;
		max-width: 95%
	}
}
